.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1100px;
  padding: 10px 0;
}
.container-header .logo {
  width: 80px;
}
.container-header nav {
  display: flex;
}
.container-header .list-nav {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  font-weight: 700;
  text-transform: uppercase;
}
.container-header .list-nav li {
  position: relative;
}
.container-header .list-nav a {
  display: flex;
  align-items: center;
  font-size: 15px;
  cursor: pointer;
}
.container-header .list-nav .active {
  color: dodgerblue;
}

.footer-info .wrapper-img {
  width: 40px;
}

.footer-info ul {
  display: flex;
  gap: 80px;
  flex-wrap: wrap;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
}

.footer-info ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-grow: 1;
}

footer {
  background-color: dodgerblue;
}

.container {
  padding: 30px 0;
}

.footer-list {
  background-image: url("../img/footer-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.footer-list .container {
  background-image: url("../img/dc-logo-bg.png");
  background-repeat: no-repeat;
  background-position: 90% 45%;
  background-size: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-wrapper {
  display: flex;
  gap: 5px;
}
.list-wrapper li {
  line-height: 20px;
}
.list-wrapper li {
  cursor: pointer;
}
.list-wrapper ul li:first-child {
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 20px;
}
.list-wrapper ul {
  padding: 10px 10px;
  color: rgb(128, 128, 128);
  font-size: 14px;
}

.footer-social {
  background-color: rgb(54, 54, 54);
}
.footer-social .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.footer-social .list-social {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}
.footer-social .list-social li:first-child {
  font-weight: 700;
  color: dodgerblue;
  text-transform: uppercase;
}
.footer-social .button-footer {
  padding: 15px;
  border: 2px solid dodgerblue;
  background-color: rgb(54, 54, 54);
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 700;
}

main {
  background: black;
  color: white;
  padding-bottom: 20px;
}

.background-main {
  background-image: url("../img/jumbotron.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 350px;
}

.container .button {
  background-color: dodgerblue;
  color: white;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
}
.container .button-jumbo {
  font-size: 18px;
  padding: 15px;
  transform: translate(-15%, -90%);
}
.container .button-end {
  padding: 10px 40px;
  display: flex;
  margin: 0 auto;
  cursor: pointer;
}
.container .card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  padding-bottom: 30px;
}

.card-item {
  flex-basis: calc(16.6666666667% - 15px);
  height: 220px;
}
.card-item img {
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
}
.card-item p {
  text-transform: uppercase;
  padding: 15px 0;
}

.main-comics {
  background-color: white;
  color: black;
}

.container-comics {
  margin: 0 auto;
  max-width: 1100px;
}
.container-comics .img-f {
  transform: translate(50%, -130%);
  width: 150px;
}
.container-comics h2 {
  font-size: 27px;
  text-transform: uppercase;
  color: rgb(6, 6, 160);
  padding-bottom: 10px;
}
.container-comics .bar-green {
  background-color: rgb(98, 187, 98);
  display: flex;
  justify-content: space-between;
  padding: 15px 12px;
  width: 100%;
  color: rgb(231, 231, 231);
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 10px;
}
.container-comics .bar-green div {
  display: flex;
}
.container-comics .bar-green .avaible, .container-comics .bar-green .price {
  padding-right: 20px;
}
.container-comics .bar-green .price {
  text-transform: capitalize;
}
.container-comics .bar-green .p-1 {
  color: white;
}
.container-comics .cont-com {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 80px 0;
  margin: -30px -100px;
}
.container-comics .cont-com .cont-1 {
  width: 50%;
}
.container-comics .cont-com .cont-2 {
  width: 40%;
}
.container-comics .fig {
  text-align: end;
  text-transform: uppercase;
  color: gray;
  font-size: 14px;
}
.container-comics .fig figure {
  width: 220px;
}

.container-comics-2 {
  background-color: rgb(231, 231, 231);
  padding: 30px 0;
}

.back-dodge {
  background-color: dodgerblue;
  height: 65px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

.container {
  margin: 0 auto;
  max-width: 1100px;
}