main {
    background: black;
    color: white;
    padding-bottom: 20px;
}

.background-main {
    background-image: url('../img/jumbotron.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 350px;
}

.container {

    .button {
      background-color: dodgerblue;
      color: white;
      border: none;
      text-transform: uppercase;
      font-weight: 700;
    }
    .button-jumbo {
      font-size: 18px;
      padding: 15px;
      transform: translate(-15%, -90%);
    }
    .button-end {
      padding: 10px 40px;
      display: flex;
      margin: 0 auto;
      cursor: pointer;
    }
    .card-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 15px;
      padding-bottom: 30px;
    }

}

.card-item {
    flex-basis: calc( (100% / 6) - 15px);
    height: 220px;
    
    img {
      aspect-ratio: 1;
      object-fit: cover;
      object-position: top center;
    }
    p {
      text-transform: uppercase;
      padding: 15px 0;
    }
}

.main-comics {
  background-color: white;
  color: black;
  margin-bottom: -20px;
}

.container-comics {
  margin: 0 auto;
  max-width: 1100px;

  .img-f {
    transform: translate(50%, -130%);
    width: 150px;
  }

  h2 {
    font-size: 27px;
    text-transform: uppercase;
    color: rgb(6, 6, 160);
    padding-bottom: 10px;
  }

  .bar-green {
    background-color: rgb(98, 187, 98);
    display: flex;
    justify-content: space-between;
    padding: 15px 12px;
    width: 100%;
    color: rgb(231, 231, 231);
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 10px;

    div {
      display: flex;
    }

    .avaible, .price {
      padding-right: 20px;
    }

    .price {
      text-transform: capitalize;
    }

    .p-1 {
      color: white;
    }

  }

  .cont-com {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 80px 0;
    margin: -30px -100px;

    .cont-1 {
      width: 50%;
    }

    .cont-2 {
      width: 40%;

    }
  }

  .fig {
    text-align: end;
    text-transform: uppercase;
    color: gray;
    font-size: 14px;

    figure {
      width: 220px;
    }

  }
  
}

.description {
  color: gray;
}

.container-comics-2 {
  background-color: rgb(231, 231, 231);
  padding: 30px 0;
}

.back-dodge {
  background-color: dodgerblue;
  height: 65px;
}

.container-b {
  margin: 0 auto;
  max-width: 1100px;
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-bottom: 50px;

  .cont {
    width: 50%;
  }

  .aut {
    display: flex;
    gap: 30px;
    padding: 20px 0;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
  }

  .aut-1 {
    width: 60%;
  }

  .aut-3 {
    flex-wrap: wrap;
    display: flex;
  }

  h3 {
    padding-bottom: 20px;
    color: rgb(6, 6, 160);
    font-size: 22px;
  }

  .lightblue {
    color: rgb(79, 196, 235);
  }
}